{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block content %}
  <script>
    function toggleDetails() {
      var params = new URLSearchParams(window.location.search);
      if (params.get('show_details') === 'true') {
        params.set('show_details', 'false');
      } else {
        params.set('show_details', 'true');
      }
      window.location.search = params.toString();
    }
  </script>

  <button onclick="toggleDetails()">{% trans "View More/Less" %}</button>
  {{ block.super }}
{% endblock %}